
<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="example" class="display" style="width: 100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Year
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </tfoot>

</table>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/datatable/datatables.css">
<script src="~/datatable/jQuery-3.3.1/jquery-3.3.1.js"></script>
<script src="~/datatable/datatables.js"></script>



<script src="~/datatable/scriptFilmsDT.js"></script>
